h1{
    font-size: 24px;
    color: #38B2AC;
}
h2{
    font-size: 21px;
    color: #5A67D8;

}
p{
    font-size: 18px;

    My name is Abygayle. The reason why I decided to do this course is because , I'd like to develop my skills in Web Development.
}